<!-- Header -->
<div id="header">
    <!-- Logo -->
    <div class="superlogo">
        <img src="{{ "/images/logo_pgbr_80x93_0.png" | prepend: site.baseurl }}">
        <a href="index.html" id="logo">
            <div>
                <h1>Comunidade Brasileira de <em>PostgreSQL</em></a></h1>
            </div>
    </div>
    
    <!-- Nav -->
    <nav id="nav">
        <ul>
        {% for page in site.pages %}
          {% if page.title %}
          <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
          {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>